# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic üö¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

### Get data, option 1: Kaggle API

#### Sign up for Kaggle and get an API token
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you don‚Äôt already have one. 
2. [Follow these instructions](https://github.com/Kaggle/kaggle-api#api-credentials) to create a Kaggle ‚ÄúAPI Token‚Äù and download your `kaggle.json` file. If you are using Anaconda, put the file in the directory specified in the instructions.

_This will enable you to download data directly from Kaggle. If you run into problems, don‚Äôt worry ‚Äî I‚Äôll give you an easy alternative way to download today‚Äôs data, so you can still follow along with the lecture hands-on. And then we‚Äôll help you through the Kaggle process after the lecture._

#### Put `kaggle.json` in the correct location

- ***If you're using Anaconda,*** put the file in the directory specified in the [instructions](https://github.com/Kaggle/kaggle-api#api-credentials).

- ***If you're using Google Colab,*** upload the file to your Google Drive, and run this cell:

In [0]:
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

#### Install the Kaggle API package and use it to get the data

You also have to join the Titanic competition to have access to the data

In [0]:
!pip install kaggle

In [0]:
!kaggle competitions download -c titanic

### Get data, option 2: Download from the competition page
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you don‚Äôt already have one. 
2. [Go to the Titanic competition page](https://www.kaggle.com/c/titanic) to download the [data](https://www.kaggle.com/c/titanic/data).

### Get data, option 3: Use Seaborn

```
import seaborn as sns
train = sns.load_dataset('titanic')
```

But Seaborn's version of the Titanic dataset is not identical to Kaggle's version, as we'll see during this lesson!

### Read data

In [1]:
import pandas as pd
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.shape, test.shape

((891, 12), (418, 11))

### Data Exploration

In [2]:
train.sample(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.00,D56,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.00,NaN,S
783,784,0,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.45,NaN,S
450,451,0,2,"West, Mr. Edwy Arthur",male,36.0,1,2,C.A. 34651,27.75,NaN,S
641,642,1,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.30,B35,C

In [3]:
test.sample(n=5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.0,0,0,237216,13.5000,NaN,S
70,962,3,"Mulvihill, Miss. Bertha E",female,24.0,0,0,382653,7.7500,NaN,Q
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
246,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.0,0,0,F.C.C. 13534,21.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [4]:
# Normalize value_counts to get percentages
target = 'Survived'
train[target].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [5]:
train.describe(include='number')

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train.describe(exclude='number')

                                       Name   Sex    Ticket    Cabin Embarked
count                                   891   891       891      204      889
unique                                  891     2       681      147        3
top     Nasser, Mrs. Nicholas (Adele Achem)  male  CA. 2343  B96 B98        S
freq                                      1   577         7        4      644

### How would we try to do this with linear regression?

https://scikit-learn.org/stable/modules/impute.html

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

# Separate target from features
features = ['Pclass', 'Age', 'Fare']
target = 'Survived'
X_train = train[features]
y_train = train[target]
X_test = test[features]

# Impute missing data
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Run linear regression
lin_reg = LinearRegression()
lin_reg.fit(X_train_imputed, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
X_train.shape, X_train_imputed.shape, X_test.shape, X_test_imputed.shape

((891, 3), (891, 3), (418, 3), (418, 3))

In [17]:
X_test.tail()

     Pclass   Age      Fare
413       3   NaN    8.0500
414       1  39.0  108.9000
415       3  38.5    7.2500
416       3   NaN    8.0500
417       3   NaN   22.3583

In [18]:
X_test_imputed[-5:]

array([[  3.        ,  29.69911765,   8.05      ],
       [  1.        ,  39.        , 108.9       ],
       [  3.        ,  38.5       ,   7.25      ],
       [  3.        ,  29.69911765,   8.05      ],
       [  3.        ,  29.69911765,  22.3583    ]])

In [10]:
import numpy as np

test_case = np.array([[1, 5, 500]]) # Rich 5-year old in first class
lin_reg.predict(test_case)

array([1.19207871])

In [11]:
y_pred = lin_reg.predict(X_test_imputed)
pd.Series(y_pred).describe()

count    418.000000
mean       0.392117
std        0.181876
min        0.011755
25%        0.227341
50%        0.339570
75%        0.516439
max        0.954827
dtype: float64

In [12]:
pd.Series(lin_reg.coef_, X_train.columns)

Pclass   -0.210390
Age      -0.007358
Fare      0.000751
dtype: float64

In [13]:
lin_reg.intercept_

1.0638995000035445

### How would we do this with Logistic Regression?

In [20]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)

print('Prediction for rich 5 year old:', log_reg.predict(test_case))
print('Predicted probability for rich 5 year old:', log_reg.predict_proba(test_case))

Prediction for rich 5 year old: [1]
Predicted probability for rich 5 year old: [[0.02778799 0.97221201]]

In [21]:
threshold = 0.5
(log_reg.predict_proba(X_test_imputed)[:, 1] > threshold).astype(int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [22]:
manual_predictions = (log_reg.predict_proba(X_test_imputed)[:,1] > threshold).astype(int)
direct_predictions = log_reg.predict(X_test_imputed)

all(manual_predictions == direct_predictions)

True

### How accurate is the Logistic Regression?

In [30]:
score = log_reg.score(X_train_imputed, y_train)
print('Train Accuracy Score:', score)

Train Accuracy Score: 0.7025813692480359

In [23]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, X_train_imputed, y_train, cv=10)
print('Cross Validation Accuracy Scores:', scores)

Cross Validation Accuracy Scores: [0.63333333 0.62222222 0.68539326 0.71910112 0.69662921 0.69662921
 0.76404494 0.75280899 0.73033708 0.71590909]

In [24]:
scores = pd.Series(scores)
scores.min(), scores.mean(), scores.max()

(0.6222222222222222, 0.7016408466689366, 0.7640449438202247)

### What's the math for the Logistic Regression?

https://en.wikipedia.org/wiki/Logistic_function

https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study

In [31]:
log_reg.coef_

array([[-0.9345267 , -0.03569729,  0.00422069]])

In [33]:
log_reg.intercept_

array([2.55763985])

In [25]:
# The logistic sigmoid "squishing" function,
# implemented to work with numpy arrays
def sigmoid(x):
    return 1 / (1 + np.e**(-x))

In [26]:
sigmoid(np.dot(log_reg.coef_, test_case.T) + log_reg.intercept_)

array([[0.97221201]])

In [27]:
log_reg.predict_proba(test_case)

array([[0.02778799, 0.97221201]])

## Feature Engineering

Get the [Category Encoder](http://contrib.scikit-learn.org/categorical-encoding/) library

If you're running on Google Colab:

```
!pip install category_encoders
```

If you're running locally with Anaconda:

```
!conda install -c conda-forge category_encoders
```

## Assignment: real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

### Get and unzip the data

#### Google Colab

In [0]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

#### Windows
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [7zip](https://www.7-zip.org/download.html) to unzip it


#### Mac
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [p7zip](https://superuser.com/a/626731) to unzip it

### Look at first 3 lines of raw file

In [28]:
!head -n 3 fma_metadata/tracks.csv

,album,album,album,album,album,album,album,album,album,album,album,album,album,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,set,set,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track
,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type,active_year_begin,active_year_end,associated_labels,bio,comments,date_created,favorites,id,latitude,location,longitude,members,name,related_projects,tags,website,wikipedia_page,split,subset,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

### Read with pandas
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [29]:
tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0, 1], index_col=0)

In [38]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
tracks.head(1).T

track_id                                                                  2
album  comments                                                           0
       date_created                                     2008-11-26 01:44:45
       date_released                                    2009-01-05 00:00:00
       engineer                                                         NaN
       favorites                                                          4
       id                                                                 1
       information                                                  <p></p>
       listens                                                         6073
       producer                                                         NaN
       tags                                                              []
       title                                           AWOL - A Way Of Life
       tracks                                                             7
       type                                                           Album
artist active_year_begin                                2006-01-01 00:00:00
       active_year_end                                                  NaN
       associated_labels                                                NaN
       bio                <p>A Way Of Life, A Collective of Hip-Hop from...
       comments                                                           0
       date_created                                     2008-11-26 01:42:32
       favorites                                                          9
       id                                                                 1
       latitude                                                     40.0583
       location                                                  New Jersey
       longitude                                                   -74.4057
       members            Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
       name                                                            AWOL
       related_projects   The list of past projects is 2 long but every1...
       tags                                                        ['awol']
       website                      http://www.AzillionRecords.blogspot.com
       wikipedia_page                                                   NaN
set    split                                                       training
       subset                                                         small
track  bit_rate                                                      256000
       comments                                                           0
       composer                                                         NaN
       date_created                                     2008-11-26 01:48:12
       date_recorded                                    2008-11-26 00:00:00
       duration                                                         168
       favorites                                                          2
       genre_top                                                    Hip-Hop
       genres                                                          [21]
       genres_all                                                      [21]
       information                                                      NaN
       interest                                                        4656
       language_code                                                     en
       license            Attribution-NonCommercial-ShareAlike 3.0 Inter...
       listens                                                         1293
       lyricist                                                         NaN
       number                                                             3
       publisher                                                        NaN
       tags                                                              []
       title                                                           Food

In [31]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 52 columns):
(album, comments)              106574 non-null int64
(album, date_created)          103045 non-null object
(album, date_released)         70294 non-null object
(album, engineer)              15295 non-null object
(album, favorites)             106574 non-null int64
(album, id)                    106574 non-null int64
(album, information)           83149 non-null object
(album, listens)               106574 non-null int64
(album, producer)              18060 non-null object
(album, tags)                  106574 non-null object
(album, title)                 105549 non-null object
(album, tracks)                106574 non-null int64
(album, type)                  100066 non-null object
(artist, active_year_begin)    22711 non-null object
(artist, active_year_end)      5375 non-null object
(artist, associated_labels)    14271 non-null object
(artist, bio)                  71156 non-null object
(artist, comments)             106574 non-null int64
(artist, date_created)         105718 non-null object
(artist, favorites)            106574 non-null int64
(artist, id)                   106574 non-null int64
(artist, latitude)             44544 non-null float64
(artist, location)             70210 non-null object
(artist, longitude)            44544 non-null float64
(artist, members)              46849 non-null object
(artist, name)                 106574 non-null object
(artist, related_projects)     13152 non-null object
(artist, tags)                 106574 non-null object
(artist, website)              79256 non-null object
(artist, wikipedia_page)       5581 non-null object
(set, split)                   106574 non-null object
(set, subset)                  106574 non-null object
(track, bit_rate)              106574 non-null int64
(track, comments)              106574 non-null int64
(track, composer)              3670 non-null object
(track, date_created)          106574 non-null object
(track, date_recorded)         6159 non-null object
(track, duration)              106574 non-null int64
(track, favorites)             106574 non-null int64
(track, genre_top)             49598 non-null object
(track, genres)                106574 non-null object
(track, genres_all)            106574 non-null object
(track, information)           2349 non-null object
(track, interest)              106574 non-null int64
(track, language_code)         15024 non-null object
(track, license)               106487 non-null object
(track, listens)               106574 non-null int64
(track, lyricist)              311 non-null object
(track, number)                106574 non-null int64
(track, publisher)             1263 non-null object
(track, tags)                  106574 non-null object
(track, title)                 106573 non-null object
dtypes: float64(2), int64(15), object(35)
memory usage: 43.1+ MB

In [32]:
tracks.describe(include='number')

               album                                              \
            comments      favorites             id       listens
count  106574.000000  106574.000000  106574.000000  1.065740e+05
mean        0.394946       1.286927   12826.933914  3.212031e+04
std         2.268915       3.133035    6290.261805  1.478532e+05
min        -1.000000      -1.000000      -1.000000 -1.000000e+00
25%         0.000000       0.000000    7793.000000  3.361000e+03
50%         0.000000       0.000000   13374.000000  8.982000e+03
75%         0.000000       1.000000   18203.000000  2.363500e+04
max        53.000000      61.000000   22940.000000  3.564243e+06

                             artist                                \
              tracks       comments      favorites             id
count  106574.000000  106574.000000  106574.000000  106574.000000
mean       19.721452       1.894702      30.041915   12036.770404
std        39.943673       6.297679     100.511408    6881.420867
min        -1.000000      -1.000000      -1.000000       1.000000
25%         7.000000       0.000000       1.000000    6443.000000
50%        11.000000       0.000000       5.000000   12029.500000
75%        17.000000       1.000000      16.000000   18011.000000
max       652.000000      79.000000     963.000000   24357.000000

                                           track                 \
           latitude     longitude       bit_rate       comments
count  44544.000000  44544.000000  106574.000000  106574.000000
mean      39.901626    -38.668642  263274.695048       0.031621
std       18.240860     65.237220   67623.443584       0.321993
min      -45.878760   -157.526855      -1.000000       0.000000
25%       39.271398    -79.997459  192000.000000       0.000000
50%       41.387917    -73.554431  299914.000000       0.000000
75%       48.856930      4.351710  320000.000000       0.000000
max       67.286005    175.277000  448000.000000      37.000000

                                                                  \
            duration      favorites      interest        listens
count  106574.000000  106574.000000  1.065740e+05  106574.000000
mean      277.849100       3.182521  3.541310e+03    2329.353548
std       305.518553      13.513820  1.901743e+04    8028.070647
min         0.000000       0.000000  2.000000e+00       0.000000
25%       149.000000       0.000000  5.990000e+02     292.000000
50%       216.000000       1.000000  1.314000e+03     764.000000
75%       305.000000       3.000000  3.059000e+03    2018.000000
max     18350.000000    1482.000000  3.293557e+06  543252.000000


              number
count  106574.000000
mean        8.260945
std        15.243271
min         0.000000
25%         2.000000
50%         5.000000
75%         9.000000
max       255.000000

In [41]:
tracks

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [album] of <class 'str'>

In [33]:
tracks.describe(exclude='number')

                      album                                       \
               date_created        date_released        engineer
count                103045                70294           15295
unique                14340                 3669             622
top     2015-01-26 13:04:57  2008-01-01 00:00:00  Ernie Indradat
freq                    310                  667             876

                                                                               \
                                              information    producer    tags
count                                               83149       18060  106574
unique                                              11075         760    2388
top     <p class="p1" style="margin: 0px; padding: 8px...  Joe Belock      []
freq                                                  310         855   83549

                                                artist                       \
                    title    type    active_year_begin      active_year_end
count              105549  100066                22711                 5375
unique              14298       5                   76                   57
top     microSong Entries   Album  2007-01-01 00:00:00  2016-01-01 00:00:00
freq                  310   87549                 1789                  479

          ...        track                     \
          ...    genre_top  genres genres_all
count     ...        49598  106574     106574
unique    ...           16    4768       4151
top       ...         Rock    [21]       [21]
freq      ...        14182    2735       2735

                                                                         \
                                              information language_code
count                                                2349         15024
unique                                               1586            44
top     <p><a href="http://www.myspace.com/theshambler...            en
freq                                                   22         14255

                                                                          \
                                                  license       lyricist
count                                              106487            311
unique                                                113             66
top     Attribution-Noncommercial-Share Alike 3.0 Unit...  Apache Tomcat
freq                                                19250             44


                   publisher    tags     title
count                   1263  106574    106573
unique                   135    2451     94986
top     Victrola Dog (ASCAP)      []  Untitled
freq                     465   83078       298

[4 rows x 35 columns]

### Fit Logistic Regression!

In [0]:
target = 'genre_top'
features = tracks[['']]

This dataset is bigger than many you've worked with so far, and while it should fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting, or [downcasting numeric datatypes](https://www.dataquest.io/blog/pandas-big-data/).
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.